<div nz-row nzJustify="center">
    <div nz-col nzSpan="24">
        <div class="menu-button expense">
            <i nz-icon nzType="money-collect" nzTheme="outline"></i>
            EXPENSE
        </div>
    </div>
</div>

<div nz-row nzJustify="center">
    <div nz-col nzSpan="24">
        <div class="menu-button record">
            <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
            RECORD
        </div>
    </div>
</div>
<div nz-row nzJustify="center">
    <div nz-col nzSpan="24">LAST MOVES</div>
</div>